<div class="centered-content">
    <div class="modal-box">
      <h6 class="title">
        EDIT A LIST
      </h6>
      <br>
        <p class="control is-expanded">
          <input #ListTitle class="input" type="text" placeholder="Write list title">
        </p>
        <div class="buttons">
          <p class="control">
  
            <a class="button is-danger" routerLink="/">
              <i class="fas fa-backspace"></i>
              &nbsp;&nbsp;BACK
            </a>
  
            <a class="button is-info" (click)="updateList(ListTitle.value)">
              <i class="fas fa-check"></i>&nbsp;&nbsp;SAVE
            </a>
          </p>
        </div>
  
    </div>
  </div>
