<div class="centered-content">

  <div class="task-manager-container">

    <div class="sidebar">
      <h3 class="title">
        Lists
      </h3>
      <div class="list-menu">

        <a class="list-menu-item is-active">
          <p>list1 hjghthtfrfghfghfdghfdgdfgdfgdfgdgfgfdf</p>
        </a>

        <a class="list-menu-item">
          <p>list2</p>
        </a>

        <a class="list-menu-item">
          <p>list3</p>
        </a>
      </div>

      <button class="add-list" (click)="createNewList()"><i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;LIST</button>
    </div>

    <div class="tasks-list-container">
      <h3 class="title">
        Tasks
      </h3>

        <div class="task">
          <p>Something to do Here</p>
        </div>

        <div class="task">
          <p>Something to do Here</p>
        </div>

        <div class="task complete">
          <p>Something to do Here</p>
        </div>

    </div>

  </div>
</div>
