<div class="centered-content">

  <div class="task-manager-container">

    <div class="sidebar">
      <h3 class="title">
        Lists
      </h3>
      <div class="list-menu">

        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id]" routerLinkActive="is-active">
          <p>{{list.title}}</p>
        </a>

      </div>

      <button class="add-list" routerLink="/new-list"><i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;LIST</button>
    </div>

    <div class="tasks-list-container">
      <h3 class="title">
        Tasks
      </h3>

      <div class="task" *ngFor="let task of tasks" (click)="completeTask(task)" [ngClass]="{'complete': task.completed}">
        <p>{{task.title}}</p>
      </div>

      <button class="circle-add button" routerLink="./new-task"><i class="fas fa-plus"></i></button>



    </div>

  </div>
</div>
