<div class="centered-content">
    <form action="" class="login-form">
      <h1>Login</h1>

      <div class="txtb">
        <input #usernameInput type="text" required minlength="3">
        <span data-placeholder="Username"></span>
      </div>

      <div class="txtb">
        <input #passwordInput type="password" required minlength="6">
        <span data-placeholder="Password"></span>
      </div>

      <input type="button" class="button logbtn" value="CONNECT" (click)="loginButtonClick(usernameInput.value, passwordInput.value)">

      <div class="bottom-text">
        Don't have Account ?! <a routerLink="/signup">Sign up</a> now
      </div>
    </form>
</div>
